# Pandas 2 - Working with data 

To start input the following commands into the conda command line:

`pip install xlrd`

`pip install openpyxl`

Working with Excel:

In [4]:
import pandas as pd

In [8]:
xlsfile = pd.ExcelFile("Test.xlsx") # pulls the workbook into jupyter
dframe = xlsfile.parse("Sheet1") # focuses only on the values in Sheet1. These are then placed into the DataFrame
dframe

   Sample  Unnamed: 1  Unnamed: 2
0      45          33          87
1      34          44          76
2      67          55          54
3      78          66          43
4      89          77          32

In [10]:
dframe.columns = ("sample","value1","value2")

In [11]:
value1 =[55]

In [12]:
dframe.value1.isin(value1)

0    False
1    False
2     True
3    False
4    False
Name: value1, dtype: bool

In [13]:
dframe["sample"].value_counts()

78    1
45    1
67    1
34    1
89    1
Name: sample, dtype: int64