# Introduction to Pandas (Python and Data Analysis)

We start with understanding the difference between "Series" and "DataFrame"

- A series is a single column of data
- A dataframe is the entire sheet of data

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
x = Series([30,40,50]) # This gives the index (first column) and the values (subsequent columns)
x

0    30
1    40
2    50
dtype: int64

In [4]:
x.index

RangeIndex(start=0, stop=3, step=1)

In [5]:
x.values

array([30, 40, 50], dtype=int64)

## Creating Series with Index 

By default the index is a range starting from 0. If necessary, one can specify the index.

In [6]:
sales = Series([45000,65000,87000], index=["Don", "Mike", "Edward"])
sales

Don       45000
Mike      65000
Edward    87000
dtype: int64