# Pandas Exercise 1

- Create a Series named Total_Sales with the values as 12000,25000,27500,27150 for the regions east, west, north and south.

- Rank the Sales in ascending order.

In [4]:
import pandas as pd
from pandas import Series, DataFrame

In [5]:
total_sales = Series([12000,25000,27500,27150], index = ["east", "west", "north","south"])

In [8]:
total_sales.sort_values(ascending=True)

east     12000
west     25000
south    27150
north    27500
dtype: int64

# Pandas Exercise 2

- From the Sales_table extract the total amount field and find out the percentage change between the values in numPy.

In [13]:
sales_dict = pd.read_excel("Sales_table.xlsx")
sales_dict

    Sno       Date Salesperson  Total_amount
0     0 2000-01-03       Allen         12000
1     1 2000-01-04       Allen         15000
2     2 2000-01-05       Allen         25000
3     3 2000-01-03      Mathew         35000
4     4 2000-01-04      Mathew         65000
5     5 2000-01-05      Mathew         75000
6     6 2000-01-03      Clarke         65780
7     7 2000-01-04      Clarke         54670
8     8 2000-01-05      Clarke         77900
9     9 2000-01-03         Don         89000
10   10 2000-01-04         Don         70000
11   11 2000-01-05         Don         65000

In [19]:
sales = sales_dict["Total_amount"]
sales

0     12000
1     15000
2     25000
3     35000
4     65000
5     75000
6     65780
7     54670
8     77900
9     89000
10    70000
11    65000
Name: Total_amount, dtype: int64

In [21]:
perc_ser=sales

In [27]:
for x in range(11):
    first = sales[x]
    last = sales[x+1]
    perc = ((last-first)/last)*100
    perc_ser[x]=perc

In [28]:
perc_ser

0     20.000000
1     40.000000
2     28.571429
3     46.153846
4     13.333333
5    -14.016418
6    -20.321932
7     29.820282
8     12.471910
9    -27.142857
10    -7.692308
dtype: float64