# Merge, Merge on Index

- Concatenation takes two DataFrames and produces one consisiting of the two on top of each other
- Merge works like JOIN in SQL by using a shared key
- Combine

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
sales1 = DataFrame({"Region": ["South", "North", "East", "West"], "Total1":[10000,20000,30000,40000]})
sales2 = DataFrame({"Region": ["South", "North", "North East"], "Total2":[12000,14000,16000]})

In [4]:
pd.merge(sales1,sales2, on="Region") # Acts like an INNER JOIN by default

  Region  Total1  Total2
0  South   10000   12000
1  North   20000   14000

In [6]:
pd.merge(sales1,sales2, on="Region", how="outer") # Specifying a value for "how" allows you to change the nature of the join

       Region   Total1   Total2
0       South  10000.0  12000.0
1       North  20000.0  14000.0
2        East  30000.0      NaN
3        West  40000.0      NaN
4  North East      NaN  16000.0